<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jushi.mapper.DistrictMapper">
  <resultMap id="BaseResultMap" type="com.example.jushi.model.District">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent" jdbcType="VARCHAR" property="parent" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from district
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.jushi.model.District">
    insert into district (id, parent, code, 
      name)
    values (#{id,jdbcType=INTEGER}, #{parent,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.jushi.model.District">
    update district
    set parent = #{parent,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, parent, code, name
    from district
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, parent, code, name
    from district
  </select>

    <!--跟根据parent获取所有的信息-->
    <select id="selectByParent" resultMap="BaseResultMap">
      select * from district where parent = #{parent,jdbcType=VARCHAR}
    </select>

</mapper>