<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jushi.mapper.GoodsMapper">

  <resultMap id="BaseResultMap" type="com.example.jushi.model.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="g_type" jdbcType="VARCHAR" property="gType" />
    <result column="g_price" jdbcType="DECIMAL" property="gPrice" />
    <result column="g_img" jdbcType="VARCHAR" property="gImg" />
    <result column="g_stock" jdbcType="INTEGER" property="gStock" />
    <result column="g_sales" jdbcType="INTEGER" property="gSales" />
    <result column="g_describe" jdbcType="VARCHAR" property="gDescribe" />
    <result column="g_state" jdbcType="INTEGER" property="gState" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modif_user" jdbcType="VARCHAR" property="modifUser" />
    <result column="modif_time" jdbcType="TIMESTAMP" property="modifTime" />
  </resultMap>

  <!--获取Goods根据gid-->
  <select id="selectGoodsByGid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, g_id, g_name, g_type, g_price, g_img, g_stock, g_sales, g_describe, g_state, 
    create_user, create_time, modif_user, modif_time
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--展示所有的热销商品-->
  <select id="selectAllGoods" resultMap="BaseResultMap">
    select id, g_id, g_name, g_type, g_price, g_img, g_stock, g_sales, g_describe, g_state, 
    create_user, create_time, modif_user, modif_time
    from goods order by g_state DESC limit 0,10
  </select>

  <!--获取商品的单价-->
  <select id="selectPriceByGid" resultType="java.math.BigDecimal">
    select g_price from goods where g_id = #{gid,jdbcType=INTEGER}
  </select>

  <!--改变该商品库存信息，根据gid-->
  <update id="updateGoodsNumByGid" >
    update goods set g_stock = #{newNum,jdbcType=INTEGER} where g_id = #{gid,jdbcType=INTEGER}
  </update>

</mapper>