<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jushi.mapper.OrderMapper">

  <resultMap id="BaseResultMap" type="com.example.jushi.model.Order">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="cnee_name" jdbcType="VARCHAR" property="cneeName" />
    <result column="cnee_phone" jdbcType="VARCHAR" property="cneePhone" />
    <result column="cnee_province" jdbcType="VARCHAR" property="cneeProvince" />
    <result column="cnee_city" jdbcType="VARCHAR" property="cneeCity" />
    <result column="cnee_district" jdbcType="VARCHAR" property="cneeDistrict" />
    <result column="cnee_address" jdbcType="VARCHAR" property="cneeAddress" />
    <result column="total_prices" jdbcType="DECIMAL" property="totalPrices" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modif_user" jdbcType="VARCHAR" property="modifUser" />
    <result column="modif_time" jdbcType="TIMESTAMP" property="modifTime" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `order`
    where oid = #{oid,jdbcType=INTEGER}
  </delete>

  <!--数据新增，返回主键id-->

  <insert id="insertOrder" parameterType="com.example.jushi.model.Order" useGeneratedKeys="true" keyProperty="oid">
<!--
    <selectKey keyProperty="oid" order="AFTER" resultType="java.lang.Integer">
        SELECT MAX(id) FROM table
        SELECT LAST_INSERT_ID()
        SELECT @@IDENTITY
    </selectKey>
-->
    insert into `order` (uid,
      cnee_name, cnee_phone, cnee_province,
      cnee_city, cnee_district, cnee_address,
      total_prices, status, order_time,
      pay_time, create_user, create_time,
      modif_user, modif_time)
    values (#{uid,jdbcType=INTEGER},
      #{cneeName,jdbcType=VARCHAR}, #{cneePhone,jdbcType=VARCHAR}, #{cneeProvince,jdbcType=VARCHAR},
      #{cneeCity,jdbcType=VARCHAR}, #{cneeDistrict,jdbcType=VARCHAR}, #{cneeAddress,jdbcType=VARCHAR},
      #{totalPrices,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP},
      #{payTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{modifUser,jdbcType=VARCHAR}, #{modifTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.example.jushi.model.Order">
    update `order`
    set uid = #{uid,jdbcType=INTEGER},
      cnee_name = #{cneeName,jdbcType=VARCHAR},
      cnee_phone = #{cneePhone,jdbcType=VARCHAR},
      cnee_province = #{cneeProvince,jdbcType=VARCHAR},
      cnee_city = #{cneeCity,jdbcType=VARCHAR},
      cnee_district = #{cneeDistrict,jdbcType=VARCHAR},
      cnee_address = #{cneeAddress,jdbcType=VARCHAR},
      total_prices = #{totalPrices,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modif_user = #{modifUser,jdbcType=VARCHAR},
      modif_time = #{modifTime,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=INTEGER}
  </update>

  <select id="selectOrderByAid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select oid,uid,cnee_name,cnee_phone,cnee_province,cnee_city,cnee_district,
    cnee_address,total_prices,status,order_time,pay_time,create_user,create_time,
    modif_user,modif_time
    from `order`
    where oid = #{oid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select oid, uid, cnee_name, cnee_phone, cnee_province, cnee_city, cnee_district,
    cnee_address, total_prices, status, order_time, pay_time, create_user, create_time,
    modif_user, modif_time
    from `order`
  </select>
</mapper>