<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jushi.mapper.OrderItemMapper">

  <resultMap id="BaseResultMap" type="com.example.jushi.model.OrderItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modif_user" jdbcType="VARCHAR" property="modifUser" />
    <result column="modif_time" jdbcType="TIMESTAMP" property="modifTime" />
  </resultMap>

  <!--新增OrderItem数据-->
  <insert id="insertOrderItem" parameterType="com.example.jushi.model.OrderItem">
    insert into order_item (id, oid, gid,
      title, image, price, 
      num, create_user, create_time, 
      modif_user, modif_time)
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{num,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifUser,jdbcType=VARCHAR}, #{modifTime,jdbcType=TIMESTAMP})
  </insert>

  <!--根据uid和gid查询到-SeckillItem信息-->
  <select id="selectSeckillByUIdAndGid" resultMap="BaseResultMap" >
    SELECT
      order_item.gid,
      order_item.oid,
      order_item.num,
      order_item.price,
      order_item.image,
      order_item.title,
      order_item.create_user,
      order_item.create_time,
      order_item.modif_user,
      order_item.modif_time
    FROM
      `order`
        RIGHT JOIN
      order_item
      ON
        `order`.oid = order_item.oid
    WHERE
      order_item.gid = #{gid,jdbcType=INTEGER} AND
      `order`.uid = #{uid,jdbcType=INTEGER}
    ORDER BY
      order_item.create_time DESC
      LIMIT 1
  </select>


</mapper>