<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jushi.mapper.SeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.jushi.model.Seckill">
        <id column="sid" property="sid" />
        <result column="gid" property="gid" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="price" property="price" />
        <result column="count" property="count" />
    </resultMap>

    <!--根据sid获取Seckill-->
    <select id="selectSeckillBySid" resultMap="BaseResultMap" resultType="com.example.jushi.model.Seckill">
        select sid, gid, start_time, end_time, price, `count`
        from seckill
        where sid = #{sid,jdbcType=INTEGER}
    </select>

    <!--获取所有的seckill-->
    <select id="selectAllSeckill" resultMap="BaseResultMap">
        select sid, gid, start_time, end_time, price, `count`
        from seckill
    </select>

    <!--分页查询-->
    <select id="selectSeckillPage" resultMap="BaseResultMap">
        select sid, gid, start_time, end_time, price, `count`
        from seckill
        limit #{start,jdbcType=INTEGER},#{end,jdbcType=INTEGER}
    </select>

    <resultMap id="BaseSeckillVoResultMap" type="com.example.jushi.vo.SeckillGoodsVo">
        <id column="sid" property="sid" />
        <result column="gid" property="gid" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="price" property="price" />
        <result column="count" property="count" />
        <result column="g_name" jdbcType="VARCHAR" property="gName" />
        <result column="g_type" jdbcType="VARCHAR" property="gType" />
        <result column="g_price" jdbcType="DECIMAL" property="gPrice" />
        <result column="g_img" jdbcType="VARCHAR" property="gImg" />
        <result column="g_describe" jdbcType="VARCHAR" property="gDescribe" />
        <result column="g_state" jdbcType="INTEGER" property="gState" />
    </resultMap>

    <select id="selectAllSeckillGoodsVo" resultMap="BaseSeckillVoResultMap">
        SELECT
            seckill.sid,
            seckill.gid,
            goods.g_name,
            seckill.price,
            seckill.count,
            goods.g_type,
            goods.g_price,
            goods.g_img,
            goods.g_describe,
            goods.g_state,
            seckill.start_time,
            seckill.end_time
        FROM
            seckill
                NATURAL LEFT JOIN
            goods
        WHERE
            seckill.gid = goods.g_id
    </select>

</mapper>
