html, body{
	min-height: 100%;
}
*{
	margin:0;
	padding:0;
	font-size: 12px;
}
ul{
	list-style:none;
}
.hide{
    display: none;
}
.lf{
	float: left;
}
.lr{
	float: right;
}
.red, .red a,.red a h5, .red a p{
    color:#FF0000 !important;
}
html{
	background: #f0efef;
}
a {
    text-decoration: none;
    color: inherit;
}

.main-group{
	max-width:1000px;
	width:100%;
	margin:30px auto;
	box-sizing: border-box;
}
.main-group .title{
	font-size: 3em;
	text-align: center;
}

.data-group{
	margin-top:4em;
	box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;
}
.data-group .item-group{
	max-width: calc((100% - 6rem) / 3);
    width: calc((100% - 6rem) / 3);
	position: relative;
    margin: 1.5rem 1rem 0px;
	text-align: center;
}
.data-group .item-group a{
	color:rgb(19, 19, 21);
}
.data-group .item-group .img-group{
	width:100%;
	overflow: hidden;
	background: #fff;

	/* position: relative;*/
}
/* .data-group .item-group .img-group .tem_img{
	position: absolute;
} */
.data-group .item-group .img-group img{
	transition: padding ease-out 0.2s;
	width:100%;
	box-sizing: border-box;
	padding:2em;
}
.data-group .item-group .desc-group{
	margin-top:1em;
}
.data-group .item-group .desc-group .name-color-group{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.name-color-group .name, .desc-group .price-group{
	font-size: 1.4em;
}
.name-color-group .name{
	flex:1;
	word-break:keep-all; /* 不换行 */
	white-space:nowrap; /* 不换行 */
	overflow:hidden; 
	text-overflow:ellipsis; 
}
.name-color-group .color-group{
	display: flex;
}
.name-color-group .color-group .img-grooup{
	margin-left:0.3em;
	cursor: pointer;
}
.name-color-group .color-group img{
	width:2.5em;
	height: 2.5em;
	box-sizing: border-box;
	padding:0.1em;
}
.name-color-group .img-grooup.self img{
	border:1px solid rgb(46, 46, 46);
	border-radius: 4px;
}

@media screen and (max-width: 680px){
	.data-group .item-group{
		max-width: calc((100%));
		width: calc((100%));
		position: relative;
		margin: 1.5rem 1rem 0px;
		text-align: center;
	}
}

* { box-sizing: border-box; }

html { font-size: 62.5%; }

body {
	margin: 0;
	font-size: 1.8rem;
	font-family: 'Avenir', Arial, sans-serif;
}
main {
	padding: 10rem 6rem;
	background: #EEE;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;900&display=swap");
:root {
	--currencyPrefix: "$";
}

body {
	overflow-x: hidden;
	color: #666;
	left: 0;
	padding: 0;
	margin: 0 auto;
	position: relative;
	transition: ease all .3s;
}
body * {
	font-family: 'Roboto Condensed', sans-serif;
}
body p, body h1, body h2, body h3, body h4, body h5, body h6 {
	margin: 0;
}
body a {
	color: #ffffff;
	text-decoration: none;
}
body ul, body li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.contenedorCards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	padding: 20px 0;
	box-sizing: border-box;
}
.contenedorCards .card {
	width: 300px;
	transition: ease all .3s;
}
.contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs {
	transform: rotateX(360deg) scale(1.2);
}
.contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs svg path, .contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs svg circle {
	fill: #fff;
	transition-delay: .2s;
}
.contenedorCards .card.enCarrito .wrapper .infoProd .actions .action.alCarrito .inCart {
	transform: scale(1);
}
.contenedorCards .card.enCarrito .wrapper .infoProd .actions .action.alCarrito .outCart {
	transform: scale(0);
}
.contenedorCards .card .wrapper {
	margin: 60px 10px 10px 10px;
	padding-top: 300px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0 0 20px 10px rgba(29, 29, 29, 0.1);
	transition: ease all .3s;
}
.contenedorCards .card .wrapper:hover {
	transform: translateY(-10px);
}
/*.contenedorCards .card .wrapper:hover .imgProd {
  height: 350px;
}*/
.contenedorCards .card .wrapper .colorProd {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-color: #b82d44;
}
.contenedorCards .card .wrapper .imgProd {
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(100% - 300px);
	width: 100%;
	height: 300px;
	transition: ease all .3s;
}
.contenedorCards .card .wrapper .infoProd {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	height: 170px;
	padding: 20px;
	box-sizing: border-box;
}
.contenedorCards .card .wrapper .infoProd p {
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.contenedorCards .card .wrapper .infoProd .nombreProd {
	font-family: "Roboto",sans-serif;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}
.contenedorCards .card .wrapper .infoProd .extraInfo {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.contenedorCards .card .wrapper .infoProd .actions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	margin-top: auto;
	padding-top: 10px;
}
.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo {
	flex-grow: 1;
	position: relative;
}
.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio {
	font-family: "Roboto",sans-serif;
	color: #1d1d1d;
	font-size: 25px;
	font-weight: 600;
	text-align: left;
}
.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta {
	position: absolute;
	left: 0;
	top: -15px;
	color: red;
	font-size: 15px;
	text-decoration: line-through;
}
.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta:before {
	font-size: 12px;
}
.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio:before {
	content: '\00A5';
	font-size: 20px;
}
.contenedorCards .card .wrapper .infoProd .actions .action {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-left: 15px;
	width: 35px;
	height: 35px;
	position: relative;
	transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
	cursor: pointer;
	color: #1d1d1d;
}
.contenedorCards .card .wrapper .infoProd .actions .action svg {
	position: absolute;
	transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
}
.contenedorCards .card .wrapper .infoProd .actions .action svg path, .contenedorCards .card .wrapper .infoProd .actions .action svg circle {
	stroke: currentColor;
	fill: transparent;
	transition: ease all .3s;
}
.contenedorCards .card .wrapper .infoProd .actions .action.aFavs {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	width: 25px;
	height: 25px;
	color: #fff;
}
.contenedorCards .card .wrapper .infoProd .actions .action.alCarrito svg.inCart {
	transform: scale(0);
}


.main-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 6rem;
	color: white;
	background: #444;
	line-height: 6rem;
	transform: translateY(0);
	transform: translate3d(0,0,0);
	transition: .25s transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.heads-up {
	transform: translateY(-6rem);
	transform: translate3d(0,-6rem,0);
}

.main-header h1 {
	float: left;
	font-size: 1.4rem;
	margin: 0 0 0 2rem;
	text-transform: uppercase;
}

.main-header nav {
	float: right;
	font-size: 1.4rem;
}

.main-header nav ul {
	margin: 0;
	padding: 0;
}

.main-header nav li {
	display: inline-block;
	padding: 0 2rem;
	border-left: .1rem solid #555;
}

main {
	padding: 10rem 6rem;
	background: #EEE;
}